<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_hl7connectorsingleportmllpreceiver})}|">Show Hl7ConnectorSinglePortMllpReceiver - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${hl7ConnectorSinglePortMllpReceiver}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="hl7connectorsingleportmllpreceiver-title-field" data-z="7515d3e">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_title}">title</strong>
                    <span data-th-text="*{{title}}">titleValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-encoding-field" data-z="8bf4c1c0">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_encoding}">encoding</strong>
                    <span data-th-text="*{{encoding}}">encodingValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-charset-field" data-z="197fd2fe">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_charset}">charset</strong>
                    <span data-th-text="*{{charset}}">charsetValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-host-field" data-z="35c313a0">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_host}">host</strong>
                    <span data-th-text="*{{host}}">hostValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-usetlsssl-field" data-z="14b25be">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_usetlsssl}">useTlsSsl</strong>
                    <span data-th-text="*{{useTlsSsl}}">useTlsSslValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-detectcharsetfrommessage-field" data-z="c6fccb80">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_detectcharsetfrommessage}">detectCharsetFromMessage</strong>
                    <span data-th-text="*{{detectCharsetFromMessage}}">detectCharsetFromMessageValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-runstate-field" data-z="76243340">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_runstate}">runState</strong>
                    <span data-th-text="*{{runState}}">runStateValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpreceiver-port-field" data-z="43da1c80">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpreceiver_port}">port</strong>
                    <span data-th-text="*{{port}}">portValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
