<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page menu</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu">

         <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="hl7studio" href="/" data-th-href="@{/}">
                  <img alt="hl7studio" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">hl7studio</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav" id="entitiesMenuEntries">
                <li class="dropdown" id="hl7connectordualportmllpreceiver-entry" data-z="f0199048">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_hl7connectordualportmllpreceiver})}">Hl7ConnectorDualPortMllpReceiver<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/hl7connectordualportmllpreceivers/create-form" data-th-href="@{/hl7connectordualportmllpreceivers/create-form}" data-th-utext="#{label_create_entity(#{label_hl7connectordualportmllpreceiver})}">Create Hl7ConnectorDualPortMllpReceiver</a></li>
	                  <li><a href="/hl7connectordualportmllpreceivers" data-th-href="@{/hl7connectordualportmllpreceivers}" data-th-utext="#{label_list_entity(#{label_hl7connectordualportmllpreceiver_plural})}">List Hl7ConnectorDualPortMllpReceiver</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="hl7connectordualportmllpsender-entry" data-z="c5c4fa88">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_hl7connectordualportmllpsender})}">Hl7ConnectorDualPortMllpSender<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/hl7connectordualportmllpsenders/create-form" data-th-href="@{/hl7connectordualportmllpsenders/create-form}" data-th-utext="#{label_create_entity(#{label_hl7connectordualportmllpsender})}">Create Hl7ConnectorDualPortMllpSender</a></li>
	                  <li><a href="/hl7connectordualportmllpsenders" data-th-href="@{/hl7connectordualportmllpsenders}" data-th-utext="#{label_list_entity(#{label_hl7connectordualportmllpsender_plural})}">List Hl7ConnectorDualPortMllpSender</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="hl7connectorsingleportmllpreceiver-entry" data-z="f357c608">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_hl7connectorsingleportmllpreceiver})}">Hl7ConnectorSinglePortMllpReceiver<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/hl7connectorsingleportmllpreceivers/create-form" data-th-href="@{/hl7connectorsingleportmllpreceivers/create-form}" data-th-utext="#{label_create_entity(#{label_hl7connectorsingleportmllpreceiver})}">Create Hl7ConnectorSinglePortMllpReceiver</a></li>
	                  <li><a href="/hl7connectorsingleportmllpreceivers" data-th-href="@{/hl7connectorsingleportmllpreceivers}" data-th-utext="#{label_list_entity(#{label_hl7connectorsingleportmllpreceiver_plural})}">List Hl7ConnectorSinglePortMllpReceiver</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="hl7connectorsingleportmllpsender-entry" data-z="ba95a048">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_hl7connectorsingleportmllpsender})}">Hl7ConnectorSinglePortMllpSender<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/hl7connectorsingleportmllpsenders/create-form" data-th-href="@{/hl7connectorsingleportmllpsenders/create-form}" data-th-utext="#{label_create_entity(#{label_hl7connectorsingleportmllpsender})}">Create Hl7ConnectorSinglePortMllpSender</a></li>
	                  <li><a href="/hl7connectorsingleportmllpsenders" data-th-href="@{/hl7connectorsingleportmllpsenders}" data-th-utext="#{label_list_entity(#{label_hl7connectorsingleportmllpsender_plural})}">List Hl7ConnectorSinglePortMllpSender</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="hl7message-entry" data-z="bd8a7c88">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_hl7message})}">Hl7Message<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/hl7messages/create-form" data-th-href="@{/hl7messages/create-form}" data-th-utext="#{label_create_entity(#{label_hl7message})}">Create Hl7Message</a></li>
	                  <li><a href="/hl7messages" data-th-href="@{/hl7messages}" data-th-utext="#{label_list_entity(#{label_hl7message_plural})}">List Hl7Message</a></li>
                 </ul>
                </li>
              </ul>

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>



              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links" data-th-replace="~{fragments/session-links :: links}">
                <!-- Content replaced by the links template fragment session-links.html
                -->
                <span>User session data</span>
              </ul>
           </div>

          </div>
    </nav>

    <!--
    Only the internal content of the following div is included within
    the template, in menu-languages fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu-languages">

         <div class="container">

            <div class="navbar-header">

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="hl7studio" href="/" data-th-href="@{/}">
                  <img alt="hl7studio" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">hl7studio</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>

           </div>

          </div>
    </nav>

  </body>
</html>
