<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_hl7connectorsingleportmllpsender})}|">Show Hl7ConnectorSinglePortMllpSender - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${hl7ConnectorSinglePortMllpSender}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="hl7connectorsingleportmllpsender-title-field" data-z="e3f109f8">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_title}">title</strong>
                    <span data-th-text="*{{title}}">titleValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-encoding-field" data-z="c57a22c6">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_encoding}">encoding</strong>
                    <span data-th-text="*{{encoding}}">encodingValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-charset-field" data-z="4ce73938">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_charset}">charset</strong>
                    <span data-th-text="*{{charset}}">charsetValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-host-field" data-z="b07de7a6">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_host}">host</strong>
                    <span data-th-text="*{{host}}">hostValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-usetlsssl-field" data-z="f871e578">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_usetlsssl}">useTlsSsl</strong>
                    <span data-th-text="*{{useTlsSsl}}">useTlsSslValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-detectcharsetfrommessage-field" data-z="979b6086">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_detectcharsetfrommessage}">detectCharsetFromMessage</strong>
                    <span data-th-text="*{{detectCharsetFromMessage}}">detectCharsetFromMessageValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-runstate-field" data-z="afa99446">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_runstate}">runState</strong>
                    <span data-th-text="*{{runState}}">runStateValue</span>
         	        </li>
                  <li id="hl7connectorsingleportmllpsender-port-field" data-z="be94f086">
            	      <strong data-th-text="#{label_hl7connectorsingleportmllpsender_port}">port</strong>
                    <span data-th-text="*{{port}}">portValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
