<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_hl7connectordualportmllpreceiver})}|">Show Hl7ConnectorDualPortMllpReceiver - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${hl7ConnectorDualPortMllpReceiver}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="hl7connectordualportmllpreceiver-title-field" data-z="ad29214a">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_title}">title</strong>
                    <span data-th-text="*{{title}}">titleValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-encoding-field" data-z="dbdbf234">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_encoding}">encoding</strong>
                    <span data-th-text="*{{encoding}}">encodingValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-charset-field" data-z="a876c40a">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_charset}">charset</strong>
                    <span data-th-text="*{{charset}}">charsetValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-host-field" data-z="3b1c9e14">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_host}">host</strong>
                    <span data-th-text="*{{host}}">hostValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-usetlsssl-field" data-z="ae4a03ca">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_usetlsssl}">useTlsSsl</strong>
                    <span data-th-text="*{{useTlsSsl}}">useTlsSslValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-detectcharsetfrommessage-field" data-z="cf7c93f4">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_detectcharsetfrommessage}">detectCharsetFromMessage</strong>
                    <span data-th-text="*{{detectCharsetFromMessage}}">detectCharsetFromMessageValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-runstate-field" data-z="c60b63b4">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_runstate}">runState</strong>
                    <span data-th-text="*{{runState}}">runStateValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-inboundport-field" data-z="e73814ea">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_inboundport}">inboundPort</strong>
                    <span data-th-text="*{{inboundPort}}">inboundPortValue</span>
         	        </li>
                  <li id="hl7connectordualportmllpreceiver-outboundport-field" data-z="52aa7014">
            	      <strong data-th-text="#{label_hl7connectordualportmllpreceiver_outboundport}">outboundPort</strong>
                    <span data-th-text="*{{outboundPort}}">outboundPortValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
